*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'tt norms';
}

:root{
    --grey: #F5F5F5;
    --grey-text: #ccc;   
    --black-text: #111;
    --white: #fff;
}

$grey: var(--grey);
$greyText: var(--grey-text);
$blackText: var(--black-text);
$white: var(--white);